<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quill</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="quill-wrapper">
      <img id="quill" src="/images/quill.png" width="150px" alt="" />
    </div>
    <div id="table">
      <div id="table-bar">
        <p><kbd>&#x232b;</kbd> to Undo, <kbd>Esc</kbd> to Clear</p>
        <p><kbd>&#x21b5;</kbd> to Deep Etch</p>
      </div>
      <div class="parchmentFade"></div>
      <img id="parchment" src="/images/parchment.jpg" />
      <div id="table-text" class="etched">Quill</div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.2.5/svg.min.js"
      integrity="sha512-CkUwcqrYQeVgMsjmgk8LfpTvqJRd10i2WBo1/60jZ8RN2aH/f6KFV4lKRYWnQjeWn3o8Fjp5ixVNeP16G5VAgw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/script.js"></script>
  </body>
</html>
